Loading teams from CL_teams_full_list.json

In [50]:
import pandas as pd
import json
filename = 'CL_teams_full_list.json'
data = json.load(open(filename))
teams_df = pd.DataFrame(data)
print(teams_df.head())

   id                 name   shortName  tla           city  country
0   2  TSG 1899 Hoffenheim  Hoffenheim  TSG    Zuzenhausen  Germany
1   4    Borussia Dortmund    Dortmund  BVB       Dortmund  Germany
2   5    FC Bayern München    Bayern M  FCB        München  Germany
3   6        FC Schalke 04     Schalke  S04  Gelsenkirchen  Germany
4  64         Liverpool FC   Liverpool  LIV      Liverpool  England

Loading matches from CL_matches_full_list.json

In [51]:
filename = 'CL_matches_full_list.json'
data = json.load(open(filename))
matches_df = pd.DataFrame(data)
matches_df_short = pd.DataFrame()
matches_df_short[['id', 'date', 'homeTeam_id', 'awayTeam_id',
                  'ft_h', 'ft_a', 'ht_h', 'ht_a', 'et_h', 'et_a', 'p_h', 'p_a']] = \
        matches_df[['id', 'utcDate', 'homeTeam_id', 'awayTeam_id',
                    'fullTime_homeTeam', 'fullTime_awayTeam', 'halfTime_homeTeam', 'halfTime_awayTeam',
                    'extraTime_homeTeam', 'extraTime_awayTeam', 'penalties_homeTeam', 'penalties_awayTeam']]
print(matches_df_short.head())

       id                  date  homeTeam_id  awayTeam_id  ft_h  ft_a  ht_h  \
0  238916  2018-06-26T15:00:00Z         1879         7282     0     2     0
1  238917  2018-06-26T19:00:00Z         1902         7281     0     2     0
2  238918  2018-06-29T18:30:00Z         7281         7282     1     4     0
3  238919  2018-07-10T15:30:00Z         7286         1880     2     1     1
4  238941  2018-07-10T15:30:00Z         5100         1891     1     4     0

   ht_a  et_h  et_a  p_h  p_a
0     0     0     2    0    0
1     1     0     0    0    0
2     1     0     3    0    0
3     1     0     0    0    0
4     2     0     0    0    0

Data is homogenous in each column since it was successfully loaded into Python Pandas Series which are homogeneous objects by definition.

Basic data validation includes the following checks:
* All homeTeam_id and awayTeam_id from the matches dataset are present in the teams dataset
* Values in date column in the matches dataset are valid dates

In [52]:
homeTeam_matches_df = matches_df['homeTeam_id']
check_homeTeam_df = homeTeam_matches_df.isin(teams_df['id'])
awayTeam_matches_df = matches_df['awayTeam_id']
check_awayTeam_df = awayTeam_matches_df.isin(teams_df['id'])

print(matches_df.count(), '\n')
print(check_homeTeam_df.value_counts(), '\n')
print(check_awayTeam_df.value_counts())

id                    591
utcDate               591
season_id             591
status                591
stage                 591
group                 343
homeTeam_id           591
awayTeam_id           591
fullTime_homeTeam     591
fullTime_awayTeam     591
halfTime_homeTeam     591
halfTime_awayTeam     591
extraTime_homeTeam    591
extraTime_awayTeam    591
penalties_homeTeam    591
penalties_awayTeam    591
dtype: int64

True    591
Name: homeTeam_id, dtype: int64

True    591
Name: awayTeam_id, dtype: int64

In [53]:
matches_df_short['date'].apply(pd.to_datetime).dt.date

0      2018-06-26
1      2018-06-26
2      2018-06-29
3      2018-07-10
4      2018-07-10
          ...
586    2021-03-10
587    2021-03-16
588    2021-03-16
589    2021-03-17
590    2021-03-17
Name: date, Length: 591, dtype: object

mongo db is candidate for a storage solution since it stores data in JSON-like documents and is build for optimal performance.